<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".analyze.DisplayActivity"
            android:exported="true"
            android:label="APM解析"
            android:taskAffinity=":apm_analyzer"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".analyze.AnalyzeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>
</manifest>